:root {
    scroll-behavior: smooth;

    --_SAKURA_PINK: #f9c6d4;
    --_CLOUD_WHITE: #faf9f6;
    --_LIGHT_PINK: #FFE5ee;
    --_MID_PINK: #efd7df;
    /* margin-right: -15px; */
    --_DARK_PINK: #FFD7EC;
    --_PINK: #f597c1;
    --_DARKER_PINK: #f174ac;
    --_ROUND: 8px;
    font-family: "Mikado Regular", sans-serif;
    font-size: 1.2em;
    background-color: var(--_LIGHT_PINK);
    --_DEFAULT: url("valentinescursors/spade.cur"), default;
    --_POINTER: url("valentinescursors/cupid.cur"), pointer;
    --_TEXT: url("valentinescursors/pin.cur"), text;
    cursor: var(--_DEFAULT);
    caret-color: var(--_DARKER_PINK)
}

#princess {
    width: 65%;
    text-align: left;
    text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.1)
}

.social {
    width: 100%;
    position: relative;
    text-underline-offset: 3px;
    white-space: nowrap;
}

nav {
    /* display: inline-grid; */
    margin-bottom: 10px
}

.social::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: 100%;
    vertical-align: baseline;
}

#roblox::before {
    width: 24px;
    height: 24px;
    content: '' / "Roblox";
    top:55%;
    left: -15%;
    background-image: url(roblox.svg)
}

#tiktok::before {
    width: 18px;
    height: 18px;
    left: -30%;
    content: '' / "TikTok";
    background-image: url(tiktok.svg)
}

#instagram::before {
    top: 52%;
    content: '' / "Instagram";
    background-image: url(instagram.svg)
}

#spotify::before {
    height: 18px;
    width: 18px;
    left: -8%;
    content: '' / "Spotify";
    background-image: url(spotify.svg)
}

::selection {
    background: var(--_SAKURA_PINK)
}

.emoji {
    width: 25px;
    height: 25px;
    display: inline;
    vertical-align: middle;
    margin-inline: 2px
}

ul,
ol {
    padding-left: 0;
    text-align: center;
    place-self: center;
}

@counter-style heart {
    system: cyclic;
    symbols: "❥";
    suffix: " ";
}

li {
    list-style: heart;
    width: fit-content;
    font-size: .8em;
    /* max-width: 70%; */
    place-self: center;
    text-align: center;
}

:_clickable {
    cursor: pointer;
    --tap-highlight-color: rgba(245, 151, 193, 0.18);
}

:_text-selectable {
    cursor: text
}

header,
footer {
    display: flex;
    place-content: space-between;
    width: 100%;
}
header {overflow:hidden}
* {
    --scrollbar-color: var(--_SAKURA_PINK);
    --scrollbar-thumb-color: var(--_PINK);
    scrollbar-width: thin;
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
}

#bg {
    background-attachment: fixed;
    --pixel-size: 30px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    animation: checkers 3s linear infinite;
    background: repeating-conic-gradient(var(--_LIGHT_PINK) 0 25%, var(--_DARK_PINK) 0 50%) 50% / var(--pixel-size) var(--pixel-size)
}

@keyframes checkers {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 30px 30px;
    }
}

li::marker {
    content: "❥ "
}

li:nth-child(odd)::marker {
    color: var(--_DARKER_PINK)
}

p,
:heading {
    justify-self: center;
    max-width: 74%;
}

body {
    height: 100vh;
    overflow: auto;
    position: relative;
}

main {
    padding-top: 6px;
    margin-right: -5px;
    /* border: 1px solid black; */
    /* padding-bottom:8vh; */
    /* margin-block:10px; */
    transform: translateX(-50%);
    /* top: 1%; */
    position: absolute;
    left: 50%;
    /* left: calc(50% + 10px); */
    width: 90vw;
    /* max-height: 550px; */
    max-width: 750px;
    overflow: auto;
    text-align: center;
    justify-items: start;
}

.box {
    contain: content;
    display: grid;
    text-align: -moz-center;
    text-align: -webkit-center;
    overflow: auto;
    border: 3px solid var(--_PINK);
    background-color: #ffe0eb;
    width: 100%;
    margin-bottom: 8px;
    border-radius: 2px;
}

picture {
    /* display: inline; */
    /* display:contents; */
}

.box:nth-of-type(2) {
    text-align: unset;

}

.box:first-child {
    border-top-right-radius: var(--_ROUND);
    border-top-left-radius: var(--_ROUND);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

#abt {

    background-image: url(decor1.png), url(decor2.png), url(decor3.png);
    background-repeat: no-repeat;
    background-position: 102% 37%, 0px 4px, 3px 42%;
    background-size: 45% auto, 23% auto, 36% auto;
    background-size: min(45%, 240px) auto, min(23%, 141px), min(36%, 180px);
    background-image: image-set(url(decor1.webp) type("image/webp"), url(decor1.png) type("image/png")),
        image-set(url(decor2.webp) type("image/webp"), url(decor2.png) type("image/png")),
        image-set(url(decor3.webp) type("image/webp"), url(decor3.png) type("image/png"))
}

#controls input {
    vertical-align: text-top;
}

@supports (-apple-pay-button-type: plain) or (-moz-orient: vertical) {
    #controls input {
        transform: translateY(1.5px)
    }
}

#mailbutton {
    height: 30px;
    width: 30px;
    margin: -5px;
    margin-top: -3px
}

#webURL {
    margin-left: 3px;
    padding-left: 3px;
    -moz-outline-radius: 20px;
}

#webURL:focus {
    outline: 1px solid var(--_DARKER_PINK)
}

#wifibutton {
    width: 19px;
    height: 19px;
    vertical-align: text-bottom;
    margin-left: 10px;
    margin-top: 2px
}

#homebutton {
    width: 21px;
    height: 21px;
    margin-left: 4px;
    margin-top: 1px
}

#aboutme {
    place-items: center;
}

#about {
    background-attachment: local;
    background-repeat: no-repeat;
    background-image: url(top.png);
    background-repeat: no-repeat;
    background-image: image-set(url(top.webp) type("image/webp"), url(top.png) type("image/png"));
    background-size: 150px auto;
    background-position: 26% -180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    animation: popin .7s ease-in-out .5s 1 forwards
}

@keyframes popin {
    0% {
        background-position-y: -180px
    }

    100% {
        background-position-y: -80px
    }
}


@media screen and (width <=765px) {
    #about {
        background-size: 18% auto;
        background-position: 138px -150px;
    }

    @keyframes popin {
        0% {
            background-position-y: -150px
        }

        100% {
            background-position-y: -56px
        }
    }
}

.box:last-child {
    border-bottom-left-radius: var(--_ROUND);
    border-bottom-right-radius: var(--_ROUND);
}

.spaced {
    letter-spacing: 1px;
}

#heading {
    margin: auto;
    margin-bottom: -10px;
    font-size: 2.3em;
    font-style: italic;
    animation: slidein .8s ease .1s 1 forwards;
    justify-self: center;
    width: 100%;
    text-align: center;
}

#heading span {
    display: inline-block;
    animation: hop .9s ease infinite;
    /* will-change: transform; */
}

span,
p,
li,
small,
i,
cite,
marquee,
:heading {

    text-shadow: -4px 4px 5px rgba(243, 130, 181, 0.3);
    -webkit-text-stroke-color: rgba(246, 96, 163, 0.358);
    -webkit-text-stroke-width: .1px;
    color: rgb(164, 65, 110);
}

#heading span:nth-child(2) {
    animation-delay: 90ms
}

#heading span:nth-child(3) {
    animation-delay: 180ms
}

#heading span:nth-child(4) {
    animation-delay: 270ms
}

@keyframes hop {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-3px)
    }

    100% {
        transform: translateY(0)
    }
}

#bunny {
    width: 25vw;
    max-width: 130px;
    aspect-ratio: 1.5 / 1;
}

marquee {
    display: flex;
}

.textbox {
    border-radius: 10px;
    padding-inline: 2px;
    border: 2px solid var(--_PINK);
    /* background-color: var(--_DARK_PINK); */
    filter: brightness(80%);
    margin-bottom: 5px;
    margin-inline: auto;
    width: 85%;
    justify-self: center;
    word-break: break-word;
    height: fit-content;
    font-size: small;
    color: var(--_DARKER_PINK)
}

.textbox,
.textbox * {
    --user-select: none;
    cursor: pointer
}

.img {
    outline: 2px solid var(--_PINK);
    /* outline-style: dashed; */
    border-radius: 2px;
    height: auto;
    display: block;
    margin: 9px;
}

#pfp {
    background-color: white;
    width: 30vw;
    max-width: 130px;
}

audio {
    width: 90%;
    animation: rainbow 4s linear infinite;
    animation-play-state: paused;
    place-self: center;
    background-color: var(--_SAKURA_PINK);
    border-radius: 10px;
    corner-shape: scoop;
    outline: 2px solid var(--_PINK)
}

audio::-webkit-time-remaining-display,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-control-container {
    display: none;
}

audio::-webkit-media-controls-panel {
    justify-content: space-between;
    align-content: space-between;
    place-content: space-between;
    background-color: var(--_SAKURA_PINK);
}

#bunnyholder {
    justify-self: end;
    align-self: start;
    width: var(--stretch)
}

audio:where(:playing, [data-pressed="true"]) {
    animation-play-state: running;
}

#about:has(audio:where(:playing, [data-pressed="true"])) #bunny {
    animation-play-state: running;
}

@keyframes rainbow {
    /*:
    let length = 36
    return Array.from({length}, (_, i) => `${(i / length) * 100}% {filter: hue-rotate(${(360 / length) * i}deg)}`).join('') + '100% {filter:hue-rotate(360deg)}'
    */
}

button {
    appearance:none;
    color:black;
    border-color: var(--_DARKER_PINK);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background-color: var(--_PINK);
    width: min-content;
    place-self: center;
    font-size: .9em;
}

@media screen and (width <=368px) {
    #heading {
        font-size: 1.5em;
    }
}
button,input {
    font-family: inherit;
}
input[type="text"] {
    background-color: transparent;
    border-style: solid;
    display: block;
    font-size:16px;
    color:black;
    border-color: var(--_PINK)
}
input::placeholder {
    color:rgba(117, 117, 117, 0.68)
}
p {
    margin-block: 3px
}

:heading {
    margin-block: 10px
}

#sendmessage {
    width: 50%;
    max-width: 300px;
    display: grid;
    gap: 5px;
    place-content: center;
    place-self: center;
    margin-bottom: 10px;
}

#heading {
    white-space: nowrap;
}

#socials {
    height: 100%;
    margin: auto;
}

@media screen and (width <=526px) {
    #about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        background-image: url(corner.png);
        background-image: image-set(url(corner.webp) type("image/webp"), url(corner.png) type("image/png"));
        background-size: 45% auto;
        background-position: 95% 180%;
        animation-duration: 1s
    }

    @keyframes popin {
        0% {
            background-position-y: 180%
        }

        100% {
            background-position-y: 100%
        }
    }

    audio {
        margin-top: 7px;
        margin-inline: 5px
    }

    @supports (-apple-pay-button-type: plain) {
        audio {
            width: auto;
        }
    }

    #socials {
        align-self: center;
        height: 110%;
        place-content: end;
    }

    #bunny {
        margin: auto;
    }

    #bunnyholder {
        width: 50%;
        place-self: normal;
        grid-column: 1 / -1;
    }
}

@keyframes bunnyDance {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(3px);
    }
}

#bunny {
    border-radius: 8px;
    animation: bunnyDance 0.6s ease-in-out infinite alternate;
    animation-play-state: paused;
    /* only dance when music plays */
    transform-origin: center bottom;
    /* makes the wiggle cuter */
    background-color: white;
    /* animation: vibe 1s ease infinite alternate-reverse; */
    /* animation-play-state: paused; */
    margin-inline: auto;
    /* transform: rotate(0deg) */
}

/* @keyframes vibe {
    0% {
        transform: rotate(0deg)
    }

    33% {
        transform: rotate(5deg)
    }

  
    100% {
        transform: rotate(-5deg)
    }
} */

@font-face {
    font-family: 'Mikado Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Regular'), url('HVD Fonts  MikadoRegular.woff2') format('woff2'), url('HVD Fonts  MikadoRegular.woff') format('woff'), url('HVD Fonts  MikadoRegular.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Regular Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Regular Italic'), url('HVD Fonts  MikadoRegularItalic.woff2') format('woff2'), url('HVD Fonts  MikadoRegularItalic.woff') format('woff'), url('HVD Fonts  MikadoRegularItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Light';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Light'), url('HVD Fonts  MikadoLight.woff2') format('woff2'), url('HVD Fonts  MikadoLight.woff') format('woff'), url('HVD Fonts  MikadoLight.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Light Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Light Italic'), url('HVD Fonts  MikadoLightItalic.woff2') format('woff2'), url('HVD Fonts  MikadoLightItalic.woff') format('woff'), url('HVD Fonts  MikadoLightItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Medium';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Medium'), url('HVD Fonts  MikadoMedium.woff2') format('woff2'), url('HVD Fonts  MikadoMedium.woff') format('woff'), url('HVD Fonts  MikadoMedium.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Medium Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Medium Italic'), url('HVD Fonts  MikadoMediumItalic.woff2') format('woff2'), url('HVD Fonts  MikadoMediumItalic.woff') format('woff'), url('HVD Fonts  MikadoMediumItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Bold';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Bold'), url('HVD Fonts  MikadoBold.woff2') format('woff2'), url('HVD Fonts  MikadoBold.woff') format('woff'), url('HVD Fonts  MikadoBold.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Bold Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Bold Italic'), url('HVD Fonts  MikadoBoldItalic.woff2') format('woff2'), url('HVD Fonts  MikadoBoldItalic.woff') format('woff'), url('HVD Fonts  MikadoBoldItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Black';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Black'), url('HVD Fonts  MikadoBlack.woff2') format('woff2'), url('HVD Fonts  MikadoBlack.woff') format('woff'), url('HVD Fonts  MikadoBlack.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Black Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Black Italic'), url('HVD Fonts  MikadoBlackItalic.woff2') format('woff2'), url('HVD Fonts  MikadoBlackItalic.woff') format('woff'), url('HVD Fonts  MikadoBlackItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Ultra';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Ultra'), url('HVD Fonts  MikadoUltra.woff2') format('woff2'), url('HVD Fonts  MikadoUltra.woff') format('woff'), url('HVD Fonts  MikadoUltra.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Ultra Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Ultra Italic'), url('HVD Fonts  MikadoUltraItalic.woff2') format('woff2'), url('HVD Fonts  MikadoUltraItalic.woff') format('woff'), url('HVD Fonts  MikadoUltraItalic.otf') format('otf');
}