:root {
    --_SAKURA_PINK: #f9c6d4;
    --_CLOUD_WHITE: #faf9f6;
    --_LIGHT_PINK: #FFE5ee;
    --_MID_PINK: #efd7df;

    --_DARK_PINK: #FFD7EC;
    --_PINK: #f597c1;
    --_DARKER_PINK: #f174ac;
    --_ROUND: 8px;
    font-family: "Mikado Regular", monospace;
    font-size: 1.2em;
    background-color: var(--_LIGHT_PINK);
    --_DEFAULT: url("valentinescursors/spade.cur"), default;
    --_POINTER: url("valentinescursors/cupid.cur"), pointer;
    --_TEXT: url("valentinescursors/pin.cur"), text;
    cursor: var(--_DEFAULT);
    caret-color: var(--_DARKER_PINK)
}

.social {
    width: 100%;
    position: relative
}

nav {
    /* display: inline-grid; */
    margin-bottom: 10px
}

.social::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    vertical-align: baseline;
}

#roblox::before {
    width: 22px;
    height: 22px;
    left: -15%;
    background-image: url(data:image/svg+xml,%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%20192%20192%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20fill%3D%22none%22%3E%0A%0A%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%2F%3E%0A%0A%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%0A%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%0A%0A%3Cpath%20stroke%3D%22%23f174ac%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%2212%22%20d%3D%22M29.88%2057.549%20133.845%2029.69l27.857%20103.967-103.966%2027.857z%22%2F%3E%0A%0A%3Cpath%20stroke%3D%22%23f174ac%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%2212%22%20d%3D%22m80%2087%2025.114-6.73%206.73%2025.115-25.115%206.73z%22%2F%3E%0A%0A%3C%2Fg%3E%0A%0A%3C%2Fsvg%3E)
}

#tiktok::before {
    width: 17px;
    height: 17px;
    left: -30%;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2296%22%20height%3D%2296%22%20viewBox%3D%220%200%2096%2096%22%20fill%3D%22none%22%3E%0A%3Crect%20width%3D%2296%22%20height%3D%2296%22%20rx%3D%2221%22%20fill%3D%22%23f174ac%22%20style%3D%22fill%3A%23f174ac%3Bfill-opacity%3A1%3B%22%2F%3E%0A%3Cpath%20d%3D%22M73.31%2025.7456C72.785%2025.4743%2072.274%2025.1769%2071.7788%2024.8545C70.3389%2023.9025%2069.0186%2022.7808%2067.8465%2021.5135C64.9139%2018.158%2063.8186%2014.7538%2063.4151%2012.3705H63.4313C63.0943%2010.3921%2063.2337%209.11214%2063.2547%209.11214H49.8974V60.7624C49.8974%2061.4558%2049.8974%2062.1412%2049.8682%2062.8185C49.8682%2062.9027%2049.8601%2062.9805%2049.8553%2063.0712C49.8553%2063.1085%2049.8553%2063.1474%2049.8472%2063.1863C49.8472%2063.196%2049.8472%2063.2057%2049.8472%2063.2154C49.7064%2065.0686%2049.1123%2066.8588%2048.1173%2068.4286C47.1222%2069.9983%2045.7566%2071.2994%2044.1407%2072.2175C42.4565%2073.1757%2040.5517%2073.6782%2038.614%2073.6757C32.3906%2073.6757%2027.3468%2068.6011%2027.3468%2062.334C27.3468%2056.0669%2032.3906%2050.9923%2038.614%2050.9923C39.7921%2050.9912%2040.9629%2051.1766%2042.083%2051.5415L42.0992%2037.9412C38.6989%2037.502%2035.2444%2037.7722%2031.9538%2038.7348C28.6631%2039.6975%2025.6077%2041.3317%2022.9802%2043.5343C20.678%2045.5346%2018.7425%2047.9214%2017.2608%2050.5872C16.6969%2051.5594%2014.5695%2055.4658%2014.3119%2061.8058C14.1499%2065.4044%2015.2306%2069.1326%2015.7458%2070.6734V70.7058C16.0699%2071.6132%2017.3256%2074.7094%2019.372%2077.3197C21.0221%2079.4135%2022.9716%2081.2527%2025.1579%2082.7783V82.7459L25.1903%2082.7783C31.6567%2087.1724%2038.8263%2086.884%2038.8263%2086.884C40.0674%2086.8338%2044.2249%2086.884%2048.9463%2084.6464C54.183%2082.1658%2057.1642%2078.47%2057.1642%2078.47C59.0688%2076.2618%2060.5832%2073.7452%2061.6426%2071.0282C62.8513%2067.8509%2063.2547%2064.0401%2063.2547%2062.5171V35.1155C63.4168%2035.2127%2065.5749%2036.6401%2065.5749%2036.6401C65.5749%2036.6401%2068.6842%2038.633%2073.5352%2039.9309C77.0155%2040.8544%2081.7045%2041.0488%2081.7045%2041.0488V27.7887C80.0615%2027.9669%2076.7255%2027.4485%2073.31%2025.7456Z%22%20fill%3D%22white%22%20style%3D%22fill%3Awhite%3Bfill-opacity%3A1%3B%22%2F%3E%0A%3C%2Fsvg%3E);
}

#instagram::before {
    top: 52%;
    background-image: url(data:image/svg+xml,%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%0D%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%2F%3E%0A%0D%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%0D%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%20%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M2%206C2%203.79086%203.79086%202%206%202H18C20.2091%202%2022%203.79086%2022%206V18C22%2020.2091%2020.2091%2022%2018%2022H6C3.79086%2022%202%2020.2091%202%2018V6ZM6%204C4.89543%204%204%204.89543%204%206V18C4%2019.1046%204.89543%2020%206%2020H18C19.1046%2020%2020%2019.1046%2020%2018V6C20%204.89543%2019.1046%204%2018%204H6ZM12%209C10.3431%209%209%2010.3431%209%2012C9%2013.6569%2010.3431%2015%2012%2015C13.6569%2015%2015%2013.6569%2015%2012C15%2010.3431%2013.6569%209%2012%209ZM7%2012C7%209.23858%209.23858%207%2012%207C14.7614%207%2017%209.23858%2017%2012C17%2014.7614%2014.7614%2017%2012%2017C9.23858%2017%207%2014.7614%207%2012ZM17.5%208C18.3284%208%2019%207.32843%2019%206.5C19%205.67157%2018.3284%205%2017.5%205C16.6716%205%2016%205.67157%2016%206.5C16%207.32843%2016.6716%208%2017.5%208Z%22%20fill%3D%22%23f174ac%22%2F%3E%20%3C%2Fg%3E%0A%0D%3C%2Fsvg%3E);
}

#spotify::before {
    height: 17px;
    width: 17px;
    left: -8%;
    background-image: url("data:image/svg+xml,%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20width%3D%22800px%22%20height%3D%22800px%22%20viewBox%3D%220%200%2020%2020%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20fill%3D%22%23000000%22%3E%0A%0A%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%2F%3E%0A%0A%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%0A%0A%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%20%3Ctitle%3Espotify%20%5B%23162%5D%3C%2Ftitle%3E%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%20%3Cdefs%3E%20%3C%2Fdefs%3E%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%20%3Cg%20id%3D%22Dribbble-Light-Preview%22%20transform%3D%22translate(-140.000000%2C%20-7479.000000)%22%20fill%3D%22%23f174ac%22%3E%20%3Cg%20id%3D%22icons%22%20transform%3D%22translate(56.000000%2C%20160.000000)%22%3E%20%3Cpath%20d%3D%22M99.915%2C7327.865%20C96.692%2C7325.951%2091.375%2C7325.775%2088.297%2C7326.709%20C87.803%2C7326.858%2087.281%2C7326.58%2087.131%2C7326.085%20C86.981%2C7325.591%2087.26%2C7325.069%2087.754%2C7324.919%20C91.287%2C7323.846%2097.159%2C7324.053%20100.87%2C7326.256%20C101.314%2C7326.52%20101.46%2C7327.094%20101.196%2C7327.538%20C100.934%2C7327.982%20100.358%2C7328.129%2099.915%2C7327.865%20L99.915%2C7327.865%20Z%20M99.81%2C7330.7%20C99.584%2C7331.067%2099.104%2C7331.182%2098.737%2C7330.957%20C96.05%2C7329.305%2091.952%2C7328.827%2088.773%2C7329.792%20C88.36%2C7329.916%2087.925%2C7329.684%2087.8%2C7329.272%20C87.676%2C7328.86%2087.908%2C7328.425%2088.32%2C7328.3%20C91.951%2C7327.198%2096.466%2C7327.732%2099.553%2C7329.629%20C99.92%2C7329.854%20100.035%2C7330.334%2099.81%2C7330.7%20L99.81%2C7330.7%20Z%20M98.586%2C7333.423%20C98.406%2C7333.717%2098.023%2C7333.81%2097.729%2C7333.63%20C95.381%2C7332.195%2092.425%2C7331.871%2088.944%2C7332.666%20C88.609%2C7332.743%2088.274%2C7332.533%2088.198%2C7332.197%20C88.121%2C7331.862%2088.33%2C7331.528%2088.667%2C7331.451%20C92.476%2C7330.58%2095.743%2C7330.955%2098.379%2C7332.566%20C98.673%2C7332.746%2098.766%2C7333.129%2098.586%2C7333.423%20L98.586%2C7333.423%20Z%20M94%2C7319%20C88.477%2C7319%2084%2C7323.477%2084%2C7329%20C84%2C7334.523%2088.477%2C7339%2094%2C7339%20C99.523%2C7339%20104%2C7334.523%20104%2C7329%20C104%2C7323.478%2099.523%2C7319.001%2094%2C7319.001%20L94%2C7319%20Z%22%20id%3D%22spotify-%5B%23162%5D%22%3E%20%3C%2Fpath%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
}

::selection {
    background: var(--_SAKURA_PINK)
}

.emoji {
    width: 25px;
    height: 25px;
    display: inline;
    vertical-align: middle;
    margin-inline: 2px
}

ul,
ol {
    padding-left: 0;
    text-align: center;
    place-self: center;
}

li {
    width: fit-content;
    font-size: .8em;
    /* max-width: 70%; */
    place-self: center;
    text-align: center;
}

:_clickable {
    cursor: pointer;
    --tap-highlight-color: rgba(245, 151, 193, 0.18);
}

:_text-selectable {
    cursor: text
}

* {
    --scrollbar-color: var(--_SAKURA_PINK);
    --scrollbar-thumb-color: var(--_PINK);
    scrollbar-width: thin;
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
}

#bg {
    --pixel-size: 30px;
    width: 100vw;
    height: 100vh;
    position: fixed;
    animation: checkers 3s linear infinite;
    background: repeating-conic-gradient(var(--_LIGHT_PINK) 0 25%, var(--_DARK_PINK) 0 50%) 50% / var(--pixel-size) var(--pixel-size)
}

@keyframes checkers {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 30px 30px;
    }
}

li::marker {
    content: "❥ "
}

li:nth-child(odd)::marker {
    color: var(--_DARKER_PINK)
}

p,
:heading {
    justify-self: center;
    max-width: 74%;
}

main {
    scroll-behavior: smooth;
    padding-top: 6px;
    /* border: 1px solid black; */
    height: 100%;
    /* padding-bottom:8vh; */
    /* margin-block:10px; */
    transform: translateX(-50%);
    /* top: 1%; */
    position: fixed;
    left: 50%;
    width: 90vw;
    /* max-height: 550px; */
    max-width: 750px;
    overflow: auto;
    text-align: center;
    justify-items: start;
}

.box {
    display: grid;
    overflow: auto;
    border: 3px solid var(--_PINK);
    background-color: var(--_LIGHT_PINK);
    width: 100%;
    margin-bottom: 8px;
    border-radius: 2px;
}

picture {
    /* display: inline; */
    /* display:contents; */
}

.box:first-child {
    border-top-right-radius: var(--_ROUND);
    border-top-left-radius: var(--_ROUND);
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
}

#controls input {
    vertical-align: text-top;

}

#mailbutton {
    height: 30px;
    width: 30px;
    margin: -5px;
    margin-top: -3px
}

#wifibutton {
    width: 19px;
    height: 19px;
    vertical-align: text-bottom;
    margin-left: 10px;
    margin-top: 2px
}

#homebutton {
    width: 21px;
    height: 21px;
    margin-left: 4px;
    margin-top: 1px
}

#about {
    background-attachment: local;
    background-repeat: no-repeat;
    background-image: url(top.png);
    background-repeat: no-repeat;
    background-image: image-set(url(top.webp) type("image/webp"), url(top.png) type("image/png"));
    background-size: 150px auto;
    background-position: 26% -180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: start;
    animation: popin .7s ease-in-out .5s 1 forwards
}

@keyframes popin {
    0% {
        background-position-y: -180px
    }

    100% {
        background-position-y: -80px
    }
}


@media screen and (width <=765px) {
    #about {
        background-size: 18% auto;
        background-position: 150px -150px;
    }

    @keyframes popin {
        0% {
            background-position-y: -150px
        }
        100% {
            background-position-y: -55px
        }
    }
}

.box:last-child {
    border-bottom-left-radius: var(--_ROUND);
    border-bottom-right-radius: var(--_ROUND);
}

.spaced {
    letter-spacing: 1px;
}

#heading {
    margin: auto;
    margin-bottom: -10px;
    font-size: 2.3em;
    font-style: italic;
    animation: slidein .8s ease .1s 1 forwards;
    justify-self: center;
    width: 100%;
    text-align: center;
}

#heading span {
    display: inline-block;
    animation: hop .9s ease infinite;
    /* will-change: transform; */
}

span,
p,
li,
small,
i,
/* strong, */
:heading {
    text-shadow: -2px 2px 5px rgba(245, 151, 193, 0.518);
    -webkit-text-stroke-color: var(--_DARKER_PINK);
    -webkit-text-stroke-width: .1px;
    color: var(--_PINK);
}

#heading span:nth-child(2) {
    animation-delay: 90ms
}

#heading span:nth-child(3) {
    animation-delay: 180ms
}

#heading span:nth-child(4) {
    animation-delay: 270ms
}

@keyframes hop {
    0% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(-3px)
    }

    100% {
        transform: translateY(0)
    }
}

#bunny {
    width: 25vw;
    max-width: 130px;
    aspect-ratio: 1.5 / 1;
}

marquee {
    display: flex;
}

.textbox {
    border: 2px solid var(--_PINK);
    background-color: var(--_DARK_PINK);
    margin-bottom: 5px;
    margin-inline: auto;
    width: 85%;
    justify-self: center;
    word-break: break-word;
    height: fit-content;
    font-size: small;
    color: var(--_DARKER_PINK)
}

.img {
    outline: 2px solid var(--_PINK);
    /* outline-style: dashed; */
    border-radius: 2px;
    height: auto;
    display: block;
    margin: 9px;
}

#pfp {
    width: 30vw;
    max-width: 130px;
}

audio {
    width: 90%;
    place-self: center;
}

audio::-webkit-time-remaining-display,
audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-volume-control-container {
    display: none;
}

audio::-webkit-media-controls-panel {
    justify-content: space-between;
    align-content: space-between;
    place-content: space-between;
    background-color: var(--_SAKURA_PINK);
}

#bunnyholder {
    justify-self: end;
    align-self: start;
    width: var(--stretch)
}

button {
    border-color: var(--_DARKER_PINK);
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    background-color: var(--_PINK);
    width: min-content;
    place-self: center;
}

@media screen and (width <=368px) {
    #heading {
        font-size: 1.5em;
    }
}

input[type="text"] {
    background-color: transparent;
    border-style: solid;
    display: block;
    border-color: var(--_PINK)
}

p {
    margin-block: 3px
}

:heading {
    margin-block: 10px
}

#sendmessage {
    width: 50%;
    max-width: 300px;
    display: grid;
    gap: 5px;
    place-content: center;
    place-self: center;
    margin-bottom: 10px;
}

#heading {
    white-space: nowrap;
}

#socials {
    height: 100%;
    margin: auto;
}

@media screen and (width <=526px) {
    #about {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        background-image: url(corner.png);
        background-image: image-set(url(corner.webp) type("image/webp"), url(corner.png) type("image/png"));
        background-size: 45% auto;
        background-position: 95% 180%;
        animation-duration: 1s
    }
  @keyframes popin {
        0% {
            background-position-y: 180%
        }
        100% {
            background-position-y: 100%
        }
    }
    audio {
        margin-top: 5px;
        margin-inline: 5px
    }

    @supports (-apple-pay-button-type: plain) {
        audio {
            width: auto;
        }
    }

    #socials {
        align-self: center;
        height: 125%;
        place-content: end;
    }

    #bunny {
        margin: auto;
    }

    #bunnyholder {
        width: 50%;
        place-self: normal;
        grid-column: 1 / -1;
    }
}

#bunny {
    margin-inline: auto;
}

@font-face {
    font-family: 'Mikado Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Regular'), url('HVD Fonts  MikadoRegular.woff2') format('woff2'), url('HVD Fonts  MikadoRegular.woff') format('woff'), url('HVD Fonts  MikadoRegular.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Regular Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Regular Italic'), url('HVD Fonts  MikadoRegularItalic.woff2') format('woff2'), url('HVD Fonts  MikadoRegularItalic.woff') format('woff'), url('HVD Fonts  MikadoRegularItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Light';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Light'), url('HVD Fonts  MikadoLight.woff2') format('woff2'), url('HVD Fonts  MikadoLight.woff') format('woff'), url('HVD Fonts  MikadoLight.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Light Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Light Italic'), url('HVD Fonts  MikadoLightItalic.woff2') format('woff2'), url('HVD Fonts  MikadoLightItalic.woff') format('woff'), url('HVD Fonts  MikadoLightItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Medium';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Medium'), url('HVD Fonts  MikadoMedium.woff2') format('woff2'), url('HVD Fonts  MikadoMedium.woff') format('woff'), url('HVD Fonts  MikadoMedium.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Medium Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Medium Italic'), url('HVD Fonts  MikadoMediumItalic.woff2') format('woff2'), url('HVD Fonts  MikadoMediumItalic.woff') format('woff'), url('HVD Fonts  MikadoMediumItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Bold';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Bold'), url('HVD Fonts  MikadoBold.woff2') format('woff2'), url('HVD Fonts  MikadoBold.woff') format('woff'), url('HVD Fonts  MikadoBold.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Bold Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Bold Italic'), url('HVD Fonts  MikadoBoldItalic.woff2') format('woff2'), url('HVD Fonts  MikadoBoldItalic.woff') format('woff'), url('HVD Fonts  MikadoBoldItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Black';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Black'), url('HVD Fonts  MikadoBlack.woff2') format('woff2'), url('HVD Fonts  MikadoBlack.woff') format('woff'), url('HVD Fonts  MikadoBlack.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Black Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Black Italic'), url('HVD Fonts  MikadoBlackItalic.woff2') format('woff2'), url('HVD Fonts  MikadoBlackItalic.woff') format('woff'), url('HVD Fonts  MikadoBlackItalic.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Ultra';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Ultra'), url('HVD Fonts  MikadoUltra.woff2') format('woff2'), url('HVD Fonts  MikadoUltra.woff') format('woff'), url('HVD Fonts  MikadoUltra.otf') format('otf');
}


@font-face {
    font-family: 'Mikado Ultra Italic';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Mikado Ultra Italic'), url('HVD Fonts  MikadoUltraItalic.woff2') format('woff2'), url('HVD Fonts  MikadoUltraItalic.woff') format('woff'), url('HVD Fonts  MikadoUltraItalic.otf') format('otf');
}